.gambeta{
    margin-top: 60px;
    
}

.parrafo_gambeta{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.img_faseta{
    height: 500px;
   
}